

.biglabelGridPane {
    -fx-font: bold 20pt "Arial";
}
.titleGridPane {
    -fx-font: 14pt "Arial";
}
.labelGridPane {
    -fx-font: bold 16pt "Arial" ;
    -fx-text-fill: red;
}

.cellCategorie {
    -fx-background-color: rgba(255, 191, 143, 1);
    -fx-border-color: #000;
}
.cellSexe {
    -fx-background-color: rgba(253, 233, 217, 1);
    -fx-border-color: #000;
}
.cellHeader {
    -fx-background-color: rgba(226, 107, 10, 1);
    -fx-border-color: #000;
}
.cellTotal {
    -fx-background-color: rgba(217, 217, 217, 1);
    -fx-border-color: #000;
}
.labelHeader {
    -fx-text-fill: white;
    -fx-font: bold 14pt "Arial" ;
}
.labelTotal {
    -fx-font: bold 12pt "Arial" ;
}
.cellData {
    -fx-border-color: #000;
}
