.biglabelGridPane {
    -fx-font: bold 20pt "Arial";
}
.titleGridPane {
    -fx-font: 14pt "Arial";
}
.labelGridPane {
    -fx-font: bold 16pt "Arial" ;
    -fx-text-fill: red;
}

.column-header {
    -fx-font: 14pt "Arial" ;
}

.labelTableViewGridComponent {
    -fx-font: 14pt "Arial" ;
}

.bordered-titled-title {
  -fx-translate-x:  8;
  -fx-translate-y: -10;
  -fx-padding: 0 0 0 4;
  -fx-background-color: -fx-background;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 2 0 0 0;
  -fx-border-color: -fx-text-box-border;
  -fx-border-width: 2;
}

.bordered-titled-content {
  -fx-padding: 18 5 5 5;
}
